* { 
    box-sizing: border-box; 
    vertical-align: top;
}

body {
    background: #ff0;
    margin: 0px;
    font-size: 20px;
    font-family: 'Spirax', Helvetica, Arial, Helvetica, sans-serif;
    
}

.square{
    width: 300px;
    height: 300px;
    Background: #00f;
    padding: 20px;
    color: #fff;
}

.circle{
    width: 50px;
    height: 50px;
    Background: #f00;
    border-radius: 100%;
}

.rel {position: relative;
    top: -10px;
    left: 100px;
}
.abs {position: absolute;
    top: 0px;
    left: 0px;
}
.fix {position: fixed;
    top: 0px;
    right: 0px;
}

.avatar{
    width: 50px;
    height: 50px;
    background: #f1f1f1;
    border-radius: 100%;
    display: inline-block;
    margin: 0 5px 0 0;
    position: relative;
}

.byline{
    background: #fff;
    padding: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 26px;    
}

.name{
    position: relative;
    top: 10px;
}

.initials{
    font-size: 20px;
    color: #666666
    line-height: 1;
    position: absolute;
    top: 50%;
    Left: 50%;
    transform: translate(-50%, -50%);
}