*{
    margin: 0px;
}

html{
  background-image: url("curtain.gif");
  background-repeat: repeat;
}

.one{
  font-size: 25px;
  font-family: "Playfair Display SC";
  color: white;
}

.two{
  text-align: right;
  font-family: "Cookie", cursive;
  letter-spacing: 1.5px;
  line-height: 37px;
  font-size: 35px;
  color: white;
}


.back{
  width:50px;
  position: fixed;
  margin: 0px;
  bottom: 5px;
  left:5px;
}

.next{
  width:80px;
  position: fixed;
  margin: 0px;
  bottom: 5px;
  right:5px;
}