body {
    background: rgba(223, 193, 167, 0.849);
}

.s {
    text-align: center;
    color: #ffffff;
}

.title {
    font-family: 'Playfair Display SC', serif;
    font-size: 25px;
}

.tracks{
    font-family: 'Playfair Display SC', serif;
    font-size: 17px;
}

.labs{
    font-family: 'Playfair Display SC', serif;
    font-size: 17px;
}

.subtitle{
    font-family: 'Cookie', cursive;
    font-size: 40px;
}

.list{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

